<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="product">
      <h2 data-cy="productDetailsHeading"><span panysoftTranslate="panysoftApp.product.detail.title">Product</span></h2>

      <hr />

      <panysoft-alert-error></panysoft-alert-error>

      <panysoft-alert></panysoft-alert>

      <dl class="row-md jh-entity-details">
        <dt><span panysoftTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ product.id }}</span>
        </dd>
        <dt><span panysoftTranslate="panysoftApp.product.productDetail">Product Detail</span></dt>
        <dd>
          <span>{{ product.productDetail }}</span>
        </dd>
        <dt><span panysoftTranslate="panysoftApp.product.productName">Product Name</span></dt>
        <dd>
          <span>{{ product.productName }}</span>
        </dd>
        <dt><span panysoftTranslate="panysoftApp.product.provider">Provider</span></dt>
        <dd>
          <div *ngIf="product.provider">
            <a [routerLink]="['/provider', product.provider?.id, 'view']">{{ product.provider?.name }}</a>
          </div>
        </dd>
        <dt><span panysoftTranslate="panysoftApp.product.presentation">Presentation</span></dt>
        <dd>
          <div *ngIf="product.presentation">
            <a [routerLink]="['/presentation', product.presentation?.id, 'view']">{{ product.presentation?.presentation }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span panysoftTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/product', product.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span panysoftTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
