<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="client">
      <h2 data-cy="clientDetailsHeading"><span panysoftTranslate="panysoftApp.client.detail.title">Client</span></h2>

      <hr />

      <panysoft-alert-error></panysoft-alert-error>

      <panysoft-alert></panysoft-alert>

      <dl class="row-md jh-entity-details">
        <dt><span panysoftTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ client.id }}</span>
        </dd>
        <dt><span panysoftTranslate="panysoftApp.client.person">Person</span></dt>
        <dd>
          <div *ngIf="client.person">
            <a [routerLink]="['/person', client.person?.id, 'view']">{{ client.person?.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span panysoftTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/client', client.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span panysoftTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
