<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="recip">
      <h2 data-cy="recipDetailsHeading"><span panysoftTranslate="panysoftApp.recip.detail.title">Recip</span></h2>

      <hr />

      <panysoft-alert-error></panysoft-alert-error>

      <panysoft-alert></panysoft-alert>

      <dl class="row-md jh-entity-details">
        <dt><span panysoftTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ recip.id }}</span>
        </dd>
        <dt><span panysoftTranslate="panysoftApp.recip.nameRecip">Name Recip</span></dt>
        <dd>
          <span>{{ recip.nameRecip }}</span>
        </dd>
        <dt><span panysoftTranslate="panysoftApp.recip.estimatedPricePreparation">Estimated Price Preparation</span></dt>
        <dd>
          <span>{{ recip.estimatedPricePreparation }}</span>
        </dd>
        <dt><span panysoftTranslate="panysoftApp.recip.amountProductUsed">Amount Product Used</span></dt>
        <dd>
          <span>{{ recip.amountProductUsed }}</span>
        </dd>
        <dt><span panysoftTranslate="panysoftApp.recip.product">Product</span></dt>
        <dd>
          <div *ngIf="recip.product">
            <a [routerLink]="['/product', recip.product?.id, 'view']">{{ recip.product?.productName }}</a>
          </div>
        </dd>
        <dt><span panysoftTranslate="panysoftApp.recip.category">Category</span></dt>
        <dd>
          <div *ngIf="recip.category">
            <a [routerLink]="['/category', recip.category?.id, 'view']">{{ recip.category?.nameCategory }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span panysoftTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/recip', recip.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span panysoftTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
