<form *ngIf="detailOrder" name="deleteForm" (ngSubmit)="confirmDelete(detailOrder.id!)">
  <div class="modal-header">
    <h4 class="modal-title" data-cy="detailOrderDeleteDialogHeading" panysoftTranslate="entity.delete.title">Confirm delete operation</h4>

    <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
  </div>

  <div class="modal-body">
    <panysoft-alert-error></panysoft-alert-error>

    <p
      id="panysoft-delete-detailOrder-heading"
      panysoftTranslate="panysoftApp.detailOrder.delete.question"
      [translateValues]="{ id: detailOrder.id }"
    >
      Are you sure you want to delete this Detail Order?
    </p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
      <fa-icon icon="ban"></fa-icon>&nbsp;<span panysoftTranslate="entity.action.cancel">Cancel</span>
    </button>

    <button id="panysoft-confirm-delete-detailOrder" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
      <fa-icon icon="times"></fa-icon>&nbsp;<span panysoftTranslate="entity.action.delete">Delete</span>
    </button>
  </div>
</form>
