<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="measureUnit">
      <h2 data-cy="measureUnitDetailsHeading"><span panysoftTranslate="panysoftApp.measureUnit.detail.title">Measure Unit</span></h2>

      <hr />

      <panysoft-alert-error></panysoft-alert-error>

      <panysoft-alert></panysoft-alert>

      <dl class="row-md jh-entity-details">
        <dt><span panysoftTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ measureUnit.id }}</span>
        </dd>
        <dt><span panysoftTranslate="panysoftApp.measureUnit.nameUnit">Name Unit</span></dt>
        <dd>
          <span>{{ measureUnit.nameUnit }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span panysoftTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/measure-unit', measureUnit.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span panysoftTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
