@import '~bootstrap/scss/functions';
@import '~bootswatch/dist/slate/variables';
@import '~bootstrap/scss/variables';

/* ==========================================================================
Navbar
========================================================================== */

.navbar-version {
  font-size: 0.65em;
  color: $navbar-dark-color;
}

.profile-image {
  height: 1.75em;
  width: 1.75em;
}

.navbar {
  padding: 0.2rem 1rem;
  .dropdown-item.active,
  .dropdown-item.active:focus,
  .dropdown-item.active:hover {
    background-color: $dark;
  }

  a.nav-link {
    font-weight: 400;
  }

  .navbar-toggler {
    &:hover {
      color: $navbar-dark-hover-color;
    }
  }
}

/* ==========================================================================
Logo styles
========================================================================== */
.logo-img {
  height: 45px;
  width: 45px;
  display: inline-block;
  vertical-align: middle;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAxlBMVEX/////mBEAAACqYQD/mhH/nBH/nhKuYwDZ2dn/nxLg4OCwZAD8lhHykBDi4uIoGANUMgbv7+/ihw+vr6/o6OjwjxCZWwpbNgY9JATFxcUiIiJHR0c5OTn5+fl/TAjkiA+YmJjXgA5LLQVYWFh2dna5ubl0RQikYgvBcw0SCwFFRUUwHQNlZWWxagxDKAVmPQeioqJubm4uLi7Pz88uGgAcEACWVQB5RQAjFACLi4t+fn5QUFAdHR2JTgBrPQC8cAwRERHMeg1niL8WAAALsUlEQVR4nO2da2OivBKAXzGgVfBWr613a621Vnvd1q7b+v//1AHJhIQEUKtVeub5sisEmCGTZCYZ0v/+QxAEQRAEQRAEQRAEQRAEQRAEQRAEQRAEQRAEQRAEQRAEQf4PabWOLcGBKKYb592rwWXz8eIyLZ19ehhcdYeNdPEIkn2fzHD+8KgJ+FXseqceH+bDzFHk3IVier5oagoGYrmyVKC5mJ98feaGiw+Vcq4CYtlzdanLxQnX5vujWmjKh1j6Ibjk41XjOBpEoDRNjq5QuvU3tPDtcXQIJcDqPIblXGZNLpcrF58iSr8fWx+ZO5WcL/3r5bVSgy/3n7d24UV5/uLY+sj4JKy3R58dM0H0s2pYVS3PSMLs3Izadd+Jv8fWRyLt1VuhetMjhqETkrA5U9cRZbUuQ3S7eOmmWnhjJ66OrZDE3BUsP+1ZoJtLJUxBzSuXILaeZmlKTwyPrZDEpStY9YxTbi33Z5iCfUMsndB79Iz//k+N8jHUYhShJ10Rv8izMA1Hur/4iJ4ZnPMaFZ2h9k52bQ9D+uHi8pw/kOneMpHNhB9oWuOXt+fnicNz/g3aZs//Qoy+p36zy7wb6ikNfkLHjOuLzOF3jlNP02Z+iQlY3esomUymUtlsKpVKJv9QraUXUhkLdXzbza0fyg4cvB5bV/Ao10U+vxUE0qpBVjdJ2noxsgX36LW/OFlJhnx7LnoTD4d0zltcwGMbUPpKEqckNcOae6KWTfJQ051KRtqWbmmzuBR+dg8WTjd4zzo9FB/r1pRkdRa1uiVfhanXoBeS6Ks09HNxmKGkLLhlXxeqR8/8nT80w/GIr8HUP/do3a9fxODpcXeAoWO+yYMlq9OXVBfBSFN996jcDOng+fL65z7iUd0961cODmxt3qjEstURKug/3kiTSVr8RnohtBneZ1PZ5LIv9qtaW/DhL3P7VDAsMhrXlina+ef9dZKwaCGxGdKK1Sr+4oTq9McpvlaSf9LK6BX43+fRgm+KMjByqf9J2u+b1lRbaobgsglVCM1wIhXv0OKvtLw9dP7znHHHdb3xftqtcU+dapqPxkXDmb1mHVmy9KdkdQazOl7DbN49Kg2eBFw2rngq+/rsHiw4L4QQPhj72sv4z1torcf9yF8n1/p5VieNFQZvdVIzlHxYgxqhOHhmqYs3covrHd7TnUcrEMWCu93U8FyOyZJ5Kazzl6yuRAu/Kpuh/30kEprqhfgHTyKEK4tv6tcaePcqWDr0ddrzMuVJkaVmJFsdDfZehBrMgpsjFQcLEYpDN8a9EN2qeWJ9fKsxlrlxfWoLRCbu//9l+bcML1kOFJQuW4p2FlLkBHUzEV9I3z0qDJ46BMo2f78x+nsuvVbv6JFWZ/mNznxTWF2wywZeus+Hpc1Q9CaMDjexs3N/w034XZvO/clNmNWFRE4qq8tL/ZJeVWjIXkjHd3OTc9Kfvq3gyBBE6Isv+TnA6qD4ROg4lFbnCk3rsCBoSLuxe3/phMFZ6k5z5JyCPdpJQkczU75kqRkSdeSktLoEZyJjocqpNbalF+LN6eymoqdgvgM3Bw0FLxOs7lmOnOgNNo2cWDPnLmDFJW/CuYBrjFsbqtfJ3Fvs3mB2ghlBvC5HTlAlyshpopBYH0MlMhWzoIPkw64fYfWZnFt2N97iXoGb+wSZ3wSrowU/pa4RmqE4VgT5sNwVbM4jBXGW/P5AJG9k3GrQaLFovibcDsyI6/6zENJ0/A+HecQNIycHFgC/2A591o4t8nBAauRMpn9Q5GKboZ95MjOxcelgMyPmsUE7kQKFhE7dA3XkJA2e60vgrK1jvX/vxRG1gCp0YCp+RCsGvMM1Bb8E4PyP3aDCdvwh2BhJL1mnAoruATTDM6W05kRTomyFFM9QN/ZRh3CFPI+SYM+sOcP4K4tI5ZlPVuFCHWap2pIPS6UtaSpW6tJwUR/KbRgTs17m2ZLrhRtlx29csCiPbl475HsaMAIpcoKL+PgM+AxV0B6WWM1vNrPBVqs7qiFIvQwheWwJr2fkfbwsNBq5yuGqkmSovQgFvbkB7XETBVkjVJuGqZoEu1cJzNxSrxJZv6R6I3BZQlxSbZvBZdlrYTW/weI4W+msqrsvYgqzQWv66hoxqcOq/aHBVvYVVmSkwVOQ1xr1abn6shPSi3oYYP0b+DawEBE0xNp4XbrLMkhSVhm116wzvEEsq4grfFeSTm86mq46iSgDZSqC+TejFISJ37FyvKLPL3EhtlYrBUpheV3RpDa7935NowUnDhuq5wCxaNRUcRFkCO2fyVllVMiPtXG+MKoYwXLoN5JBrylsWjNbwFq9Fr42BYlKiljFJ7xBKpUKMcLLGX6DjrSP3WHLVndhCrJuJqKdbAxRrJaN5bhpP0ArCIsyYHI7aojdHCJl09QrB1IQIh9/EiQPRL37bCdGT8wFqm7Vf2wFrMaGjBhQhYGhyi6QxA3zg+rVygE6GfYkcGoDW2KOFpjtWQpCrNWoWq1+dswD6mdjQKwalKEKE/gH6AkI0XX9YObJngL+aVDKGFShOnSLA8yzUYf7sMi011b4s7CWqA4UaW6FtIIUJyClSpliDP1MqNt/6rCFN1VfAz73vtyZ42BSx0a1ckrn1+TlhFihXwf6NRBVBE2gxASWGCdHGA33xMtB/P4fxKLTCPJSDZ2eCZt6jQWw7ixP2NCkJ2kRMG7AIqQ8AR7/4d6FBCWKw2h4bAH3ANXEPzlMZ/IDlhPixBmdUfbnoNLx/jruHY0XQvnH/MUv6Wi89TH/QtTgFzilLpCI5fdqHn+FR+MAXo1/kYZ+LHeoib4fBGLEL/VwGHefzQGSAdQaxjt0cjFDNTy2dHvh19ehFaphWM5DXAhvh7+oL/VrePHrx0MaHiqSRuIG+DT+APHq1/ulNLbY96LMEYA1Nn9sQePD8S+ID+mMqT8+hFQvKYcydsD6k5RuSo/HPnxi8/p+BWH9NyRRKB4YdMFZXgemXc047l5NJXDhAlLXN0hXOmVYeqhi8YkmXcpfbsQLmvmhWkCEb+2VKeZxgeXUdBUawniRj7WGkNyv/DQBsmli7LmxfE91Rg1LalNlP8cCLxs6ILUNvrKoxzXSNyHBLCizjX3rFNOVbp3tSBCYss+S2JdxdMDPWDJrcDq797lTQBr7KWOwPM/HkA+gvC3JlnHrbYiXjhz6nZ63g8lsg88cTgdiel+6RGxC4G0bNCnFx1IN7kObyK3suF0+DpjOu1eEr2xC89hduF0UJqsY6EjIivtSKiTHW1mL2qwX8jnFKUCMHv+t2QY16PDOXaLVSv59Ak8IclYSvqXbeNPTIX+VVv80D5/AvANENz/FD+m22AIsJ+6YO273EidmrcRI9JbidkDN7XYA6Woi9fbqdJQkOukt/Vu6drfSz6YsbTg3nk0run7k3tVJ+q9Mr8d+4Xba+auh2Nz5pT0qWcQ4iprEfq7VmbYVe9o2d90de6jcwHpca097nYRhbPeB4HdUI/bDOr1puybV3Vq/72wy2LhV3dJhUmhPb3qWYTifihxEVbL+DMUwrN7NtF0I+FDfts/v7m6eWQTd2iVfa49sVSumud7wWHcV3kVj4qpk38O+2jQrtmKjdi0f/vjFPraobw1DdqTjeKvXrtvLanU0/Vz1OjYVG8syTVPUgHsD9jnLcoo5xXurz+moWl22r2v1t+jH2dwN97bPZ3Eob1W6CePxS34yqd/3HQo2NQfnP+sj9/XJJP8yVjauSB6Ge96qtfXUDWyTP06z+3SgXVob3YFy39If5OKje+g/nJBuvN9F/RmEw9C8e2/81IbXrWJm2F18fP2UbrdX3WGmeJS/xpNpnM8Xg+ZhVP1qDhbz88Zed2LdnWIu/dQYzruLq7vBx+XlbfPx4u/men/9vXhs3l5efgzurhbd+bDxlM6d+l+c+a/VKpbL5Vwul8mkg3H/nEe5XPy1fxAKQRAEQRAEQRAEQRAEQRAEQRAEQRAEQRAEQRAEQRAEQRAE8fE/aiQglB8MI40AAAAASUVORK5CYII=')
    no-repeat center center;
  background-size: contain;
}
